body{
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(207, 197, 151);
}

.poemContainer{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
    max-height: auto;
    margin-top: 10px;
    background-image: url(images/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png);
    background-repeat: no-repeat; 
    background-size:100% 100%;
    background-position: center;
    justify-content: center;

}

.preActualPoem{
    margin: auto;
    justify-content: center;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 50px;
    font-size: larger;
}



pre .pThatHides{
text-align: center;
}


.aboutMeDiv {
    display: flex;
    flex-direction: column;
    background-image: url(images/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png);
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 70px;
    margin: auto;
    font-size: larger;
    padding: 100px;
    text-align: center;
    background-size: 100% 100%;
    max-width: 700px;
}

.hide {
    display: none;
}

button{
    display: flex;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
    background-color: rgba(223, 237, 247, 0.74);
    border: solid 1px rgb(92, 133, 187);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 1px 10px rgb(0, 143, 187);  
    margin-bottom: 30px;
}

button:hover{
    background-color: rgba(210, 235, 252, 0.582);
    border: solid 1px rgb(98, 165, 253);
    box-shadow: 0px 1px 10px rgb(3, 83, 107);  

}

button:active{
    background-color: rgba(146, 226, 247, 0.466);
    border: solid 1px rgb(98, 143, 235);
}




/*******************************************/

.navbar{
    padding-left: 10px;
    margin:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color: #464745d3;
    margin-top: 0%;
    background-size: cover;
    font-size:medium;
    padding-right: 20px;
    }
    
    .navbar img{
        max-width: 150px;
        padding-left: 20px;
        padding-top: 10px;
    }


    
    ul{
        display:flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 10px;
        padding-top: 3px;
        padding-left: 10px;
        margin:0px;
        
    }
    
    li{
    list-style: none;
    padding: 0px;
    text-decoration: none;
    padding-right: 1em;
    text-shadow: 1px 1px 10px  white;
    }
    
    .navItems a{
        position: relative;
        text-decoration: none;
        color: rgb(180, 219, 219);
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    .navItems:hover{
        text-shadow: 1px 1px 10px rgb(34, 177, 221);  
    }
    


    .logo{
        -webkit-filter: drop-shadow(1px 2px 1px rgb(255, 255, 255));
        filter: drop-shadow(1px 2px 1px rgb(255, 255, 255)); 
        max-width: 150px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .logo:hover {
        -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 143, 187));
        filter: drop-shadow(1px 2px 1px rgb(0, 143, 187)); 
    }


    .footer{
        display: flex;
        flex-direction: row;
        background-color: #464745d3 ;
        margin: auto;
        justify-content: center;      
        margin-top: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
    }


    .leftColumnWithLinks{
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .rightColumnWithLinks{
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .rightColumnWithLinks a{
        padding: 2px;  
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
    }

    .leftColumnWithLinks a{
        padding: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;

    }


