body{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(images/18.jpg);
    margin-bottom: 30px;
}

.poemContainer{
    display: flex;
    text-align: justify;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
    margin-top: 10px;
    background-image: url(images/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png);
    background-repeat: no-repeat; 
    background-size:100% 100%;
    background-position: center;

}

.poemContainerAboutMe.hide{
    display: none;
}

.aboutMeDiv{
    display: flex;
    text-align: justify;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
    margin-top: 10px;
    background-image: url(images/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png);
    background-repeat: no-repeat; 
    background-size:100% 100%;
    background-position: center;

}



.poemContainer.hide{
    display: none;
}

button{
    display: flex;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 0px;
    background-color: rgba(223, 237, 247, 0.74);
    border: solid 1px rgb(92, 133, 187);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 1px 10px rgb(0, 143, 187);  

}

button:hover{
    background-color: rgba(210, 235, 252, 0.582);
    border: solid 1px rgb(98, 165, 253);
    box-shadow: 0px 1px 10px rgb(3, 83, 107);  

}

button:active{
    background-color: rgba(146, 226, 247, 0.466);
    border: solid 1px rgb(98, 143, 235);
}


.textToShowSlashHide{
    display: block;
}

.textToShowSlashHide.hide{
    display: none;
}

.aboutMeDiv{
    display: none;
    flex-direction: column;
    background-image: url(images/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png);
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 70px;
    margin: auto;
    font-size: larger;
    padding: 100px;
    text-align: center;
    background-size: 100% 100%;

}

.aboutMeDiv.hide{
    display: none !important;
}



pre{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 50px;
    font-size: larger;
}

pre .pThatHides{
text-align: center;
}

.preActualPoem.hide{
    display: none;
}

.preActualPoem.show{
    display: block;
}

.generateRandomPoem.hide{
    display: none;
}

/*******************************************/

.navbar{
    padding-left: 10px;
    margin:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color: #7daac400;
    margin-top: 0%;
    background-size: cover;
    font-size:medium;
    padding-right: 20px;
    }
    
    .navbar img{
        max-width: 150px;
        padding-left: 20px;
        padding-top: 10px;
    }

    ul{
        display:flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 10px;
        padding-top: 3px;
        padding-left: 10px;
        margin:0px;
        
    }
    
    li{
    list-style: none;
    padding: 0px;
    text-decoration: none;
    padding-right: 1em;
    text-shadow: 1px 1px 15px  white;
    }
    
    .navItems a{
        position: relative;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    .navItems:hover{
        text-shadow: 1px 1px 30px rgb(34, 177, 221);  
    }
    


    .logo{
        -webkit-filter: drop-shadow(1px 2px 1px rgb(255, 255, 255));
        filter: drop-shadow(1px 2px 1px rgb(255, 255, 255)); 
    }

    .logo:hover {
        -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 143, 187));
        filter: drop-shadow(1px 2px 1px rgb(0, 143, 187)); 
    }
